<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Poppins:wght@400;500;600&display=swap"
  rel="stylesheet" />

<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Control de visitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mt-7" >
    <ion-label class="subtitulo">Citas programadas</ion-label>
    <ion-button class="">Escanear codigo</ion-button>
  </div>

  <ion-label class="subtitulo">Citas no programadas</ion-label>
    <ion-button class="">Escanear codigo</ion-button>
  <section>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Citas recientes</ion-card-title>
        <ion-card-subtitle>Semana 40</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list color="dark">
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://cuadernoderetazos.files.wordpress.com/2012/05/yuko.jpg" />
            </ion-thumbnail>
            <ion-label>Simbiosis</ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://i.pinimg.com/originals/0e/68/4e/0e684e5eb861dd828c2793b20d853886.jpg" />
            </ion-thumbnail>
            <ion-label>Ahother in the fire</ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://64.media.tumblr.com/e74ff5598afe3b8fe765b71c740f2027/tumblr_n3mc8lxQTt1qh9o2do1_640.png" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://cdnb.artstation.com/p/assets/images/images/024/410/151/large/armand-serrano-passover.jpg?1582313180" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
