.html{
  font-family: 'Instrument Sans', sans-serif;
}

.Bienvenida{
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 700;
}

.cardtitle{
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 500;
}

.cardsubtitle{
  font-family: 'Instrument Sans', sans-serif;
}

.ionlabel{
  font-family: 'Instrument Sans';
  font-weight: 400;
}


